<!DOCTYPE html>
<html lang="en">

<p>Student ID: 89800</p>
<p>Name: Xuewei Niu</p>

<form action="/add_imginfo" method="post" enctype="multipart/form-data">
    <label for="name">Name</label><input type="text" id="name" name="name"/><br/>
    <label for="num">Num</label><input type="text" id="num" name="num"/><br/>
    <label for="keywords">Keywords</label><input type="text" id="keywords" name="keywords"/><br/>
    <label for="picture">Keywords</label>
    <input type="file" id="picture" name="picture"/>
    <br/>
    <button>Go!</button>
</form>

<a href="/">Go back to index</a><br/>
<a href="/imginfo">Show images info</a><br/>
<a href="/img_selectors">Select images</a><br/>
<a href="/add_imginfo">Add images info</a><br/>
<a href="/edit_imginfo">Edit images info</a><br/>

</html>