<!DOCTYPE html>
<html lang="en">

<p>Student ID: 89800</p>
<p>Name: Xuewei Niu</p>

<div>
    <label for="x1">x1</label><input type="text" id="x1"/><br/>
    <label for="y1">y1</label><input type="text" id="y1"/><br/>
    <label for="x2">x2</label><input type="text" id="x2"/><br/>
    <label for="y2">y2</label><input type="text" id="y2"/><br/>
    <button onclick="goButton()">Go!</button>
</div>

<a href="/">Go index</a><br/>
<a href="/bounding_box">Bounding box</a><br/>
<a href="/largest_quakes">Largest quakes</a><br/>
<a href="/single_date">Single date</a><br/>
<a href="/replace_nn">Replace nn</a><br/>

<script>
    function goButton() {
        let x1 = document.getElementById("x1").value
        let y1 = document.getElementById("y1").value
        let x2 = document.getElementById("x2").value
        let y2 = document.getElementById("y2").value
        window.location.href = "/bounding_box?x1=" + x1 + "&y1=" + y1 + "&x2=" + x2 + "&y2=" + y2
    }
</script>

</html>
