<html>

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        var status = "Closed";
        let role = "admin";

        $(document).ready(function () {
            setTimeout(updateDashboard, 1000);
        })

        function updateDashboard() {
            updateStatus();
            updatePlayers();
            updateCurrentPlayer();
            setTimeout(updateDashboard, 1000);
        }

        function updateStatus() {
            $.ajax({
                url: "/game1/status",
                type: "GET",
                dataType: "json",
                success: function (data) {
                    $("#game-status").text(data.status);
                    $("#game-remaining-time").text(Math.trunc(data.remaining_time) + " s");
                    status = data.status;
                    if (data.min === null) {
                        $("#game-min").text("null");
                    } else {
                        $("#game-min").text(data.min);
                    }
                    if (data.max === null) {
                        $("#game-max").text("null");
                    } else {
                        $("#game-max").text(data.max);
                    }
                    if (data.remaining === null) {
                        $("#game-remaining").text("null");
                    } else {
                        $("#game-remaining").text(data.remaining);
                    }
                }
            });
        }

        function updatePlayers() {
            $.ajax({
                url: "/game1/players",
                type: "GET",
                dataType: "json",
                success: function (data) {
                    if (data.player1 === null) {
                        $("#player1").text("null");
                    } else {
                        $("#player1").text(data.player1);
                    }

                    if (data.player2 === null) {
                        $("#player2").text("null");
                    } else {
                        $("#player2").text(data.player2);
                    }
                }
            });
        }

        function updateCurrentPlayer() {
            $.ajax({
                url: '/game1/current_player',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    if (data.current_player === null) {
                        $("#current-player").text("null");
                    } else {
                        $("#current-player").text(data.current_player);
                    }
                }
            })
        }

        function prestart() {
            if (status !== "Closed") {
                alert("You can't prepare to start a game in current status.");
                return;
            }
            $.ajax({
                url: "/game1/prestarted?role=admin",
                type: "GET",
                dataType: "json",
                data: {
                    "role": role,
                },
                success: function (data) {
                    console.log("Prestarted successfully.")
                },
                error: function (err) {
                    alert("Prepare to start failed, err = " + err);
                }
            });
        }

        function start() {
            var min_value = $("#min").val();
            var max_value = $("#max").val();
            var start_value = $("#start").val();
            var duration_value = $("#duration").val();
            var player_value = $("#player").val();

            if (min_value === "") {
                min_value = "2"
            }
            if (max_value === "") {
                max_value = "4"
            }
            if (start_value === "") {
                start_value = "10"
            }
            if (duration_value === "") {
                duration_value = "60"
            }
            if (player_value === "") {
                player_value = "1"
            }

            $.ajax({
                url: "/game1/start",
                type: "GET",
                dataType: "json",
                data: {
                    "role": role,
                    "min": min_value,
                    "max": max_value,
                    "start": start_value,
                    "duration": duration_value,
                    "player": "player"+player_value,
                },
                success: function (data) {
                    console.log("Started successfully.")
                },
                error: function (err) {
                    console.log(err)
                    alert("Start failed, err = " + err.responseJSON.msg);
                }
            });
        }

        function doClose() {
            console.log("do close");
            $.ajax({
                url: "/game1/close",
                type: "GET",
                dataType: "json",
                data: {
                    "role": role,
                },
                success: function (data) {
                    console.log("Closed successfully.")
                },
                error: function (err) {
                    alert("Failed to close the game, err = " + err.responseJSON.msg)
                }
            })
        }
    </script>
</head>

<h1>Game 1 Admin Page</h1>

Dashboard

<ul>
    <li>Status: <span id="game-status"></span></li>
    <li>Remaining time: <span id="game-remaining-time"></span></li>
    <li>Player 1: <span id="player1"></span></li>
    <li>Player 2: <span id="player2"></span></li>
    <li>Current player: <span id="current-player"></span></li>
    <li>Min: <span id="game-min"></span></li>
    <li>Max: <span id="game-max"></span></li>
    <li>Remaining: <span id="game-remaining"></span></li>
</ul>

<hr />

<div>
    <p>You can perform the following action when the game status is "Closed".</p>
    <button onclick="prestart()">Prepare to start</button>
</div>

<hr />

<div>
    <p>You can perform the following action when the game status is "Waiting".</p>
    <div>
        Min <input type="text" id="min" /><br />
        Max <input type="text" id="max" /><br />
        Start <input type="text" id="start" /><br />
        Duration <input type="text" id="duration" /><br />
        Player <input type="text" id="player" /> Specify a player who goes first,
        the possible values are "1" or "2".<br />
        <button onclick="start()">Start</button>
    </div>
</div>

<hr />

<div>
    <p>You can perform the following action when the game status is "Waiting" or
        "Started".</p>
    <button onclick="doClose()">Close the game</button>
</div>

</html>