<!DOCTYPE html>
<html lang="en">

<p>Student ID: 89800</p>
<p>Name: Xuewei Niu</p>

<div>
    <label for="name">Name</label><input type="text" id="name"/>
    <button onclick="nameSelectorButton()">Go!</button>
</div>

<div>
    <label for="num">Salary Range(e.g. 100-200)</label><input type="text" id="num"/>
    <button onclick="numSelectorButton()">Go!</button>
</div>

<a href="/">Go back to index</a><br/>
<a href="/imginfo">Show images info</a><br/>
<a href="/img_selectors">Select images</a><br/>
<!--<a href="/add_imginfo">Add images info</a><br/>-->
<a href="/edit_imginfo">Edit images info</a><br/>

<script>
    function nameSelectorButton() {
        let name = document.getElementById("name").value
        window.location.href = "/imginfo?name=" + name
    }

    function numSelectorButton() {
         let num = document.getElementById("num").value
        window.location.href = "/imginfo?salary=" + num
    }
</script>

</html>
