<!DOCTYPE html>
<html lang="en">

<p>Student ID: 89800</p>
<p>Name: Xuewei Niu</p>

<table border="1">
    <tr>
        <th>Name</th>
        <th>State</th>
        <th>Salary</th>
        <th>Grade</th>
        <th>Room</th>
        <th>Telnum</th>
        <th>Picture (if existed)</th>
        <th>Keywords</th>
        <th>Ops</th>
    </tr>
    {% for i in metadata %}
    <tr>
        <td>{{ i['Name'] }}</td>
        <td>{{ i['State'] }}</td>
        <td>{{ i['Salary'] }}</td>
        <td>{{ i['Grade'] }}</td>
        <td>{{ i['Room'] }}</td>
        <td>{{ i['Telnum'] }}</td>
        <td>
            {% if i['Picture'] != '' %}
            <img height="100" alt="" src="/static/{{i['Picture']}}"/>
            {% else %}
            No Image
            {% endif %}
        </td>
        <td>{{ i['Keywords'] }}</td>
        <td><a href="/delete_imginfo?name={{i['Name']}}">Delete</a></td>
    </tr>
    {% endfor %}
</table>

<a href="/">Go back to index</a><br/>
<a href="/imginfo">Show images info</a><br/>
<a href="/img_selectors">Select images</a><br/>
<!--<a href="/add_imginfo">Add images info</a><br/>-->
<a href="/edit_imginfo">Edit images info</a><br/>

</html>
