<!DOCTYPE html>
<html lang="en">

<div>
    <p>Student ID: 89800</p>
    <p>Name: Xuewei Niu</p>
</div>

<hr />

<a href="/">Index</a><br />
<div>
    <h3>Game 1</h3>
    <ur>
        <li><a href="/game1/admin">Admin</a></li>
        <li><a href="/game1/player1">Player 1</a></li>
        <li><a href="/game1/player2">Player 2</a></li>
    </ur>
</div>

<div>
    <h3>Game 2</h3>
    <ur>
        <li><a href="/game2/admin">Admin</a></li>
        <li><a href="/game2/player1">Player 1</a></li>
        <li><a href="/game2/player2">Player 2</a></li>
    </ur>
</div>

</html>