<!DOCTYPE html>
<html lang="en">

<p>Student ID: 89800</p>
<p>Name: Xuewei Niu</p>

<div>
    <p>Task 1</p>
    <p>The format of names is "fruit1,fruit2".</p>
    N <input type="text" id="task_1_n" /><br />
    Names <input type="text" id="task_1_names" /><br />
    <button onclick="task1()">Go!</button>
</div>

<div>
    <p>Task 2</p>
    <p>The format of names is "fruit1,fruit2".</p>
    N <input type="text" id="task_2_n" /><br />
    Names <input type="text" id="task_2_names" /><br />
    <button onclick="task2()">Go!</button>
</div>

<div>
    <p>Task 3</p>
    <p>The format of range is "100-200".</p>
    Col 1 range <input type="text" id="task_3_range"/><br/>
    <button onclick="task3()">Go!</button>
</div>

<div>
    <h3>Nav</h3>
    <a href="/">Index</a><br />
    <a href="/queries">Queries</a><br />
</div>

<script>
    function task1() {
        let n = document.getElementById("task_1_n").value;
        let names = document.getElementById("task_1_names").value;
        window.location.href = "/task1?n=" + n + "&names=" + names
    }

    function task2() {
        let n = document.getElementById("task_2_n").value;
        let names = document.getElementById("task_2_names").value;
        window.location.href = "/task2?n=" + n + "&names=" + names
    }

    function task3() {
        let range = document.getElementById("task_3_range").value;
        window.location.href = "/task3?range="+range
    }
</script>

</html>