<!DOCTYPE html>
<html lang="en">

<p>Student ID: 89800</p>
<p>Name: Xuewei Niu</p>

<div>
    <p>Book List:</p>
    <ul>
        <li><a href="https://www.gutenberg.org/ebooks/68458">Motley and other
                poems by Walter De la Mare (pg68458.txt)</a></li>
        <li><a href="https://www.gutenberg.org/ebooks/68456">The jet jockeys by
                R. W. Stockheker (pg68456.txt)</a></li>
        <li><a href="https://www.gutenberg.org/ebooks/68451">Mirrors of Moscow
                by Louise Stevens Bryant (pg68451.txt)</a></li>
    </ul>
    Keyword <input type="text" id="book_keyword" /><br />
    <button onclick="task1()">Go!</button>
</div>

<div>
    <h3>Nav</h3>
    <a href="/">Index</a><br />
    <a href="/queries">Queries</a><br />
</div>

<script>
    function task1() {
        let keyword = document.getElementById("book_keyword").value;
        var url = "/search";
        if (keyword !== "") {
            url += "?keyword=" + keyword;
        }
        window.location.href = url
    }
</script>

</html>