<!DOCTYPE html>
<html lang="en">

<p>Student ID: 89800</p>
<p>Name: Xuewei Niu</p>

<div>
    <h3>Task 10</h3>
    Elev Range (e.g. 10-20) <input type="text" id="task-10-elev-range"/><br/>
    Number Range <input type="text" id="task-10-number-range"/><br/>
    <button onclick="search1()">Go!</button>
</div>

<div>
    <h3>Task 11</h3>
    Sequence Range <input type="text" id="task-11-seq-range"/><br/>
    N <input type="text" id="task-11-n"/><br/>
    <button onclick="search2()">Go!</button>
</div>

<div>
    <h3>Nav</h3>
    <a href="/">Go index</a><br/>
</div>

<script>
    function search1() {
        let elev_range = document.getElementById("task-10-elev-range").value
        let number_range = document.getElementById("task-10-number-range").value
        window.location.href = "/task10?elev_range=" + elev_range + "&number_range=" + number_range
    }

    function search2() {
        let seq_range = document.getElementById("task-11-seq-range").value
        let n = document.getElementById("task-11-n").value

        window.location.href = "/task11?seq_range=" + seq_range + "&n=" + n
    }

</script>

</html>